<%- include("partials/header"); -%>
<div class="">


  <div class="">
    <h1>Basketball Results</h1>
    <br>
    <div>
      <div class="jumbotron">
        <p class="lead"><%=match.week%></p>
        <% console.log(match); %>
        <h1 class="display-4"><img style="border-radius:50%; width:10%; padding-right:30px;" src="https://media.istockphoto.com/photos/etihad-stadium-in-manchester-uk-picture-id1011618842?s=612x612" class="card-img-top" alt="..."> <b style="padding:30px;"><%=match.team1Name%></b><b><%=match.team1Score%></b>
          <b>-</b> <b><%=match.team2Score%></b><b style="padding:30px;"><%=match.team2Name%></b> <img style="border-radius:50%; width:10%; padding-left:30px;" src="https://media.istockphoto.com/photos/etihad-stadium-in-manchester-uk-picture-id1011618842?s=612x612" class="card-img-top"
            alt="..."></h1>
        <br>
        <div><img class="imso_gs__icon" src="//ssl.gstatic.com/onebox/sports/soccer_timeline/soccer-ball-retina.png" alt="Goals"></div>
        <div class="wrapper">
          <div class="team1Scorers">
            <!-- <div>Umar</div>
            <div>Suarez</div>
            <div>Calipha</div> -->
          </div>
          <div class="team2Scorers">
            <!-- <div>Umar</div>
            <div>Suarez</div>
            <div>Calipha</div> -->
            <!-- <div>Elbroe 25"</div>
            <div>Elbroe</div> -->
          </div>
        </div>
      </div>

    </div>
  </div>

  <div>
    <table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col"><img class="imso_gs__icon" src="//ssl.gstatic.com/onebox/sports/soccer_timeline/soccer-ball-retina.png" alt="Goals"></th>
      <th scope="col">Team Stats</th>
      <th scope="col"><img class="imso_gs__icon" src="//ssl.gstatic.com/onebox/sports/soccer_timeline/soccer-ball-retina.png" alt="Goals"></th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td><%=match.team1TotalRebounds%></td>
      <td>Total Rebounds</td>
      <td><%=match.team2TotalRebounds%></td>
    </tr>
    <tr>

      <td><%=match.team1Offensive%></td>
      <td>Offensive</td>
      <td><%=match.team2Offensive%></td>
    </tr>
    <tr>

      <td><%=match.team1Assists%></td>
      <td>Total Assist</td>
      <td><%=match.team2Assists%></td>
    </tr>

    <tr>

      <td><%=match.team1Blocks%></td>
      <td>Blocks</td>
      <td><%=match.team2Blocks%></td>
    </tr>
    <tr>

      <td><%=match.team1Blocks%></td>
      <td>Steals</td>
      <td><%=match.team2Blocks%></td>
    </tr>
    <tr>

      <td><%=match.team1Steals%></td>
      <td>Steals</td>
      <td><%=match.team2Steals%></td>
    </tr>
    <tr>

      <td><%=match.team1Turnovers%></td>
      <td>TurnOvers</td>
      <td><%=match.team2Turnovers%></td>
    </tr>
    <tr>

      <td><%=match.team1PointsInThePaints%></td>
      <td>Total Points In The Paints</td>
      <td><%=match.team2PointsInThePaints%></td>
    </tr>
    <tr>

      <td><%=match.team1FoulsPersonal%></td>
      <td>Fouls - Personals</td>
      <td><%=match.team1FoulsPersonal%></td>
    </tr>

  </tbody>
</table>
    </div>

</div>
<%- include("partials/footer"); -%>
