<%- include("partials/header"); -%>
<div class="main1 h-100">
  <div class="main2 table-responsive">
    <center>
      <table class="table" style="border:bold;">
        <!-- table 2 -->
<th colspan="2">
Football
</th>
<tbody>
<%  fixtures.forEach(function(fixture){ %>
<%  if(fixture.season === "fall 2021"){ %>
<%  fixture.footballLeague.forEach(function(currentFixture){ %>
  <tr class="h-100">
    <td colspan="2"><strong><%= currentFixture.week %></strong></td>
  </tr>
  <tr class="h-100">
    <td data-label="Fixture "><%= currentFixture.team1 %> <label for=""></label> - <label for=""></label><%= currentFixture.team2 %> </td>
    <td><%= currentFixture.dateAndTime %></td>
  </tr>

<%}); %>
<%  } %>
<%}); %>



</tbody>

</table>
</center>
</div>
</div>
<%- include("partials/footer"); -%>
