
<%- include("partials/header"); -%>

    <!-- Carousel -->

    <div id="carouselCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselCaptions" data-slide-to="1"></li>
            <li data-target="#carouselCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://cdn.pixabay.com/photo/2014/10/14/20/24/soccer-488700_960_720.jpg" class="d-block w-100" height="500px" alt="...">
                <div class="carousel-caption d-none d-md-block" style="color: white; font-weight: bolder;">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://cdn.pixabay.com/photo/2016/09/18/20/47/football-1678992_960_720.jpg" class="d-block w-100" height="500px" alt="...">
                <div class="carousel-caption d-none d-md-block" style="color: white; font-weight: bolder;">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://cdn.pixabay.com/photo/2016/11/18/22/10/man-1837119_960_720.jpg" class="d-block w-100" height="500px" alt="...">
                <div class="carousel-caption d-none d-md-block" style="color: white; font-weight: bolder;">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <!-- Cards -->
    <div class="container-fluid">
        <h1>Football News</h1>

  <!-- LastBusstop -->
  <div class="row">


              <%  for(i=0; i< 1; i++){ %>
                <%  for(j=0; j< Object.keys(news[0].footballNews).length; j++){ %>
                    <div class="col-lg-4">
                      <div class="card-deck my-3">
                      <div class="card">
                          <img src="https://media.istockphoto.com/photos/etihad-stadium-in-manchester-uk-picture-id1011618842?s=612x612" class="card-img-top" alt="...">
                          <div class="card-body">
                              <h5 class="card-title"><%=news[i].footballNews[j].title %> </h5>
                              <p class="card-text"><%=news[i].footballNews[j].body %> </p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                      </div>
                    </div>

                    </div>





            <%  }%>
            <% } %>
          </div>


    <!-- LastBusstop -->


    </div>


    <div class="container-fluid">
        <h1>Basketball News</h1>

    <!-- LastBusstop -->
    <div class="row">


              <%  for(i=0; i< 1; i++){ %>
                <%  for(j=0; j< Object.keys(news[i].basketballNews).length; j++){ %>
                    <div class="col-lg-4">
                      <div class="card-deck my-3">
                      <div class="card">
                          <img src="https://media.istockphoto.com/photos/etihad-stadium-in-manchester-uk-picture-id1011618842?s=612x612" class="card-img-top" alt="...">
                          <div class="card-body">
                              <h5 class="card-title"><%=news[i].basketballNews[j].title %> </h5>
                              <p class="card-text"><%=news[i].basketballNews[j].body %> </p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                      </div>
                    </div>

                    </div>





            <%  }%>
            <% } %>
          </div>


    <!-- LastBusstop -->


    </div>

 <%- include("partials/footer.ejs"); -%>
    <!-- row -->

    <!-- <div class="container mt-3">
        <h1>product</h1>
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid" src="./img/News.jpg" alt="">
            </div>

            <div class="col-md-3">
                <img class="img-fluid" src="./img/News.jpg" alt="">
            </div>

            <div class="col-md-3">
                <img class="img-fluid" src="./img/News.jpg" alt="">
            </div>

            <div class="col-md-3">
                <img class="img-fluid" src="./img/News.jpg" alt="">
            </div>
        </div>

    </div> -->
